@import url("https://fonts.google.com/specimen/Oswald?query=oswald");

:root {
    --primary-color: #00A7E1;
    --secondary-color: #00171F;
    --accent-color-1: #003459;
    --accent-color-2: #FFFFFF;

}

body{
    max-width: 960px;
    padding: 20px;
}

h1, h2{
    font-family: "Oswald", serif;
    color: var(--primary-color);
}

article{
    position: absolute;
}

article img{
    position: absolute;
}

p{
    padding: 25px;
    color: purple;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    
}





