@import url("https://fonts.google.com/specimen/Oswald?query=oswald");
@import url("https://fonts.google.com/specimen/Nunito+Sans?query=Nunito+Sans");

:root {
    --primary-color: #5EB1BF;
    --secondary-color: #CD5334;
    --accent-color-1: #2e28a2;
    --accent-color-1: #1F487E;

    --heading-font: "https://fonts.google.com/specimen/Oswald?query=oswald", serif;
    --paragraph-font: "https://fonts.google.com/specimen/Nunito+Sans?query=Nunito+Sans", serif;
    --navigation-background-color: blue;
    --navigation-link-color: darkblue;
    --navigation-hover-link-color: orange;
    --navigation-hover-background-color: yellow;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent-color-1);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color :var(--navigation-link-color);
}

nav a:hover{
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}

