
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --primary-color: #00A7E1;
    --secondary-color: #00171F;
    --accent-color-1: #003459;
    --accent-color-2: #FFFFFF;
    --heading-font: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
    display: flow-root;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid #003459;
}

header nav {
    padding: 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    max-width: 1960px;
    padding: 15px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    color: white;
}

h1, h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

p{
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #00A7E1;

}

.sociallinks {
    display: flex;
    text-decoration: none;
}

/*/////////////*/

.container1{
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 7px;
}

.container1 img{
    border: 1px solid --secondary-color;
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.container1 div{
    position: absolute;
    top: 90px;
    left: 300px;
    display: block;
    text-align: center;   
}

.container2{
    
    display: grid;
    grid-template-areas:

    "header header"
    "content aside"
    "content aside"
    "content aside"
    "content aside"
    "content aside"   
    ;
    grid-gap: 10px;
    

}

.title-container{
    grid-area: header;
    text-align: center;
    margin-bottom: 10px;
    padding: 100px;
}

.testimony{
    grid-area: aside;
    background-color: aquamarine;
    align-items: center;    
    padding: 12px;
    text-align: justify;
    border-radius: 50px;    
    margin-bottom: 10px;
    
}

.testimony img{
    display: inline-block;
    width: 50%;
    border-radius: 100px;
    border: 2px solid #003459;
    
    
}

.container2-trips{
    background-color: #003459;
    padding: 12px;
    border-radius: 50px;
    text-align: center;
    color: #00A7E1;
    font-weight: bold;
}

.container2-trips p{
    color: #00A7E1;
}

.container2-trips button{
    position: relative;
    margin: 10px;
    align-self: center;
    left: 100px;
}
