nav {
  background-color: steelblue;
  padding: 10px;
}

nav a{
  color: white;
  display: block;
  padding: 20px;

}
main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;

}

p {
  padding: 0px;

}

h1{
  color: steelblue;
}

main{
  max-width: 840px;
}

aside{
  width: 550px;
  margin: 1px;
  border: 1px solid blueviolet;
  padding-left: 10px;
  padding-right: 20px;
  background-color:rgba(255, 151, 15, 0.938);
  color: black;
  text-align: justify;
}

aside img{
  width: 200px;
  height: auto;
  border: 1px solid black;
}

footer{
  margin-top: 10px;
  border-top: 1px solid black;
  text-align: center;
}


